html {
    background: #000;
}
h1 {
    background: #ccc;
    background: linear-gradient(90deg, #7c33f0, #00dfd0);
    font-family: system-ui;
    font-size: 3rem;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}